/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS reset
==================== */

/* Global Styles
=============== */

@font-face {
	font-family: 'rondo';
	src: url('fonts/rondo/rondo.eot?#') format('eot'),
		 url('fonts/rondo/rondo.svg#rondo') format('svg'),
		 url('fonts/rondo/rondo.woff') format('woff'),
		 url('fonts/rondo/rondo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
font-family: 'farray';
src: url("fonts/FARRAY.otf") format("opentype");
}
html,
body {
	overflow: auto;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}
html,
body,
#wrap,
header {
	height: 100%;
}
body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: #111;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}
h3 {
	padding-top: 25px;
	font-size: 2em;
	font-weight: 800;
}
a {
	color: #111;
	text-decoration: none;
}
/* Section Styles
=============== */
header {
	text-align: left;
}

header h1 {
	font-size: 2.25em; 
	padding-top: 120px;
	width: 75%;
	margin: 0 auto;
	line-height: 1;
	font-family: 'Raleway';
    font-weight: 800;
}

header h2 {
	font-size: 1.25em;
	width: 75%;
	margin: 30px auto 0 auto;
}
nav ul {
	width: 75%;
	margin: 30px auto 0 auto;
	padding-bottom: 20px;
}
nav ul li {
	margin-top: 10px;
	padding: 10px;
	background: #111;
}
nav ul li a {
	display: block;
	color: #eee;
	font-weight: 400;
}
/* Project Section Styles
========================= */
#projects h3 {
	margin-bottom: 25px;
}
.experiment {
	height: 360px;
}
article {
	width: 100%;
	height: 33%;
	background-position: center;
	background-size: 100% auto;
}
article:first-of-type {
	background-image: url('img/photo.jpg');
	margin-bottom: 2px;
}
article:nth-child(2) {
	background-image: url('img/redesign.jpg');
	margin-bottom: 2px;
}
article:last-of-type {
	background-image: url('img/gradient.jpg');
}
.blackoverlay {
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}	
p {
	letter-spacing: 0.2em;
	font-weight: 400;
	color: #fff;
}
p:first-child {
	padding-top: 50px;
}
.blackoverlay:hover {
	background: rgba(0, 0, 0, 0.3);
}
/* End Project Section Styles
============================= */

#services ul,
#skills ul {
	padding-bottom: 40px;
	width: 75%;
	margin: 0 auto;
}
#services li,
#skills li {
	margin-top: 25px;
}

/* Social Icon Content Generation
================================== */
[data-icon]:before {
	font-family: 'rondo';
	content: attr(data-icon);
	speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";
	-moz-font-feature-settings:"liga=1, dlig=1";
	-moz-font-feature-settings:"liga","dlig";
	-ms-font-feature-settings:"liga","dlig";
	-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
}
.icon-email:before {
	content: "\65\6d\61\69\6c";
}
.icon-twitter:before {
	content: "\74\77\69\74\74\65\72";
}
.icon-github:before {
	content: "\67\69\74\68\75\62";
}
.icon-tumblr:before {
	content: "\74\75\6d\62\6c\72";
}
.icon-linkedin:before {
	content: "\6c\69\6e\6b\65\64\69\6e";
}
#social_icons {
	text-transform: lowercase;
	margin-top: 50px;
	max-width: 290px;
	margin: 0 auto;
}
#social_icons a {
	display: inline-block;
	font-size: 5.5em;
	width: 100px;
	margin: 20px auto;
}
#social_icons a:nth-child(odd) {
	padding-right: 30px;
}
/* Social Icon Transitions
=========================== */
#social_icons a {
	-webkit-transition: color 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	-o-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}
/* Social Icon Brand Hover Colors */
#social_icons a:hover:first-of-type {
	color: #d0362c;
}
#social_icons a:hover:nth-child(2) {
	color: #4a98f0;
}
#social_icons a:hover:nth-child(3) {
	color: #1460ab;
}
#social_icons a:hover:last-of-type {
	color: #2d4563;
}
/* Section Background Colors
============================ */
#projects,
#skills {
	background: #eee;
}
/* Footer Styles
================ */
footer {
	font-weight: 400;
	padding: 10px 0;
	background: #111;
	color: #eee;
}
/* Media Queries
================ */
@media screen and (min-width: 428px) {
	header {
		height: 50%;
		min-height: 300px;
	}
	header,
	nav ul {
		text-align: center;
	}
	header h1,
	header h2,
	nav ul {
		width: 90%;
	}
	
	/* Navigation
	============= */
	nav ul {
		margin: 30px auto 0 auto;
	}
	nav ul li {
		display: inline-block;
		background: none;
		margin: 0;
		padding: 0;
	}
	nav ul li+li {
		margin-left: 2%;
	}
	nav ul li a {
		color: #111;
		font-weight: 500;
	}
	nav ul li a:hover {
		border-bottom: 1px solid black;
	}
}
@media screen and (min-width: 545px) {
	header {
		max-height: 325px;
	}
	header,
	nav ul {
		text-align: center;
	}
	header h1 {
		font-size: 3em;
	}
	header h2 {
		font-size: 1.5em;
	}
	nav ul li a {
		font-size: 1.125em;
	}
}
@media screen and (min-width: 872px) {
	header {
		height: 55%;
		max-height: 360px;
	}
	header h1 {
		font-size: 4em;
	}
	nav ul li a:hover {
		border-bottom: 2px solid black;
	}
	nav ul li+li {
		margin-left: 4%;
	}
	.experiment article {
		display: inline-block;
		width: 33.33333%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		vertical-align: top;
	}
	.experiment article p {
		padding-top: 100px;
	}
	#services,
	#skills {
		display: inline-block;
		width: 50%;
	}
	#skills {
		background: #fff;
	}
	#social_icons {
		display: inline-block;
		vertical-align: baseline;
		max-width: 100%;
	}
	#social_icons a:nth-child(odd) {
	padding-right: 0px;
	}
}






